html {
  background: linear-gradient(
    to top right,
    rgb(62, 136, 255),
    rgb(250, 0, 208)
  );
  background-size: 100%, 200%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

h1 {
  padding-bottom: 6%;
  margin: 0%;
}

span {
  font-size: 12px;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

input {
  border: 0;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 2px 0;
  width: 80%;
}

a {
  font-size: 12px;
  margin-top: 5px;
  text-decoration: none;
  color: #000;
}

#pai {
  background-color: white;
  width: 25%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.7);
}

#logo_empresa {
  margin: 10px;
  padding: 0;
  width: 5px 0 0 0;
}

.input_group {
  margin: 20px;
  display: flex;
  align-items: center;
}

.input_icone {
  margin: 0 5px;
  width: 16px;
  height: 16px;
}

.botao_submit {
  border: 0;
  box-shadow: 0 0 5px rgba(85, 85, 85, 0.7);
  border-radius: 30px;
  width: 40%;
  height: 30px;
  background: linear-gradient(
    to top right,
    rgb(62, 136, 255),
    rgb(250, 0, 208)
  );
  color: white;
  margin: 10px;
}

.botao_submit:hover {
  cursor: pointer;
}
